In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [4]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Frank| 23|         1|   900|
| Kyle|  1|         3|   400|
| Jeff| 22|         4|   200|
| Fred| 43|         3|   600|
|Karry| 11|         1|   100|
|  Min| 23|         2|   300|
+-----+---+----------+------+

In [5]:
##filter operations

In [7]:
###salary of the people less than 20,000 equal to
df_pyspark.filter("Salary<=200").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Jeff| 22|         4|   200|
|Karry| 11|         1|   100|
+-----+---+----------+------+

In [8]:
df_pyspark.filter("Salary<=200").select(['Name','Age']).show()

+-----+---+
| Name|Age|
+-----+---+
| Jeff| 22|
|Karry| 11|
+-----+---+

In [10]:
df_pyspark.filter(df_pyspark['Salary']<=200).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Jeff| 22|         4|   200|
|Karry| 11|         1|   100|
+-----+---+----------+------+

In [12]:
df_pyspark.filter((df_pyspark['Salary']<=200)&(df_pyspark['Salary']>=150)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Jeff| 22|         4|   200|
+----+---+----------+------+