In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+----+-----------+------+
|Name|Departments|Salary|
+----+-----------+------+
| Job|         DS|   100|
| Job|        IOT|   200|
| man|         DS|   300|
|Crab|        IOT|   400|
| yum|         BD|   200|
+----+-----------+------+

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [10]:
## groupby to find the aggregate salary
df_pyspark.groupBy('Name').sum().show()

+----+-----------+
|Name|sum(Salary)|
+----+-----------+
| Job|        300|
| man|        300|
| yum|        200|
|Crab|        400|
+----+-----------+

In [12]:
### group by departmen
df_pyspark.groupBy('Departments').mean().show()

+-----------+-----------+
|Departments|avg(Salary)|
+-----------+-----------+
|        IOT|      300.0|
|         BD|      200.0|
|         DS|      200.0|
+-----------+-----------+

In [13]:
df_pyspark.groupBy('Departments').count().show()

+-----------+-----+
|Departments|count|
+-----------+-----+
|        IOT|    2|
|         BD|    1|
|         DS|    2|
+-----------+-----+

In [16]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|       1200|
+-----------+