In [2]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName('Practise').getOrCreate()

In [7]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [8]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Frank|  23|         1|   900|
| Kyle|   1|         3|   400|
| Jeff|  22|         4|   200|
| Fred|  43|         3|   600|
|Karry|  11|         1|   100|
|  Min|  23|         2|   300|
|  Lee|NULL|      NULL|   400|
| NULL|  34|        10|   500|
| NULL|  36|      NULL|  NULL|
+-----+----+----------+------+

In [9]:
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  23|         1|   900|
|   1|         3|   400|
|  22|         4|   200|
|  43|         3|   600|
|  11|         1|   100|
|  23|         2|   300|
|NULL|      NULL|   400|
|  34|        10|   500|
|  36|      NULL|  NULL|
+----+----------+------+

In [16]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Frank|  23|         1|   900|
| Kyle|   1|         3|   400|
| Jeff|  22|         4|   200|
| Fred|  43|         3|   600|
|Karry|  11|         1|   100|
|  Min|  23|         2|   300|
|  Lee|NULL|      NULL|   400|
| NULL|  34|        10|   500|
| NULL|  36|      NULL|  NULL|
+-----+----+----------+------+

In [17]:
df_pyspark.na.drop().show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Frank| 23|         1|   900|
| Kyle|  1|         3|   400|
| Jeff| 22|         4|   200|
| Fred| 43|         3|   600|
|Karry| 11|         1|   100|
|  Min| 23|         2|   300|
+-----+---+----------+------+

In [19]:
### any==how
df_pyspark.na.drop(how="any").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Frank| 23|         1|   900|
| Kyle|  1|         3|   400|
| Jeff| 22|         4|   200|
| Fred| 43|         3|   600|
|Karry| 11|         1|   100|
|  Min| 23|         2|   300|
+-----+---+----------+------+

In [20]:
## threshold
df_pyspark.na.drop(how="any",thresh=2).show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Frank|  23|         1|   900|
| Kyle|   1|         3|   400|
| Jeff|  22|         4|   200|
| Fred|  43|         3|   600|
|Karry|  11|         1|   100|
|  Min|  23|         2|   300|
|  Lee|NULL|      NULL|   400|
| NULL|  34|        10|   500|
+-----+----+----------+------+

In [21]:
##subset
df_pyspark.na.drop(how="any",subset=['Experience']).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Frank| 23|         1|   900|
| Kyle|  1|         3|   400|
| Jeff| 22|         4|   200|
| Fred| 43|         3|   600|
|Karry| 11|         1|   100|
|  Min| 23|         2|   300|
| NULL| 34|        10|   500|
+-----+---+----------+------+

In [24]:
### filling the missing value
df_pyspark.na.fill('Missing Values',['Experience','age']).show()

+-----+--------------+--------------+------+
| Name|           Age|    Experience|Salary|
+-----+--------------+--------------+------+
|Frank|            23|             1|   900|
| Kyle|             1|             3|   400|
| Jeff|            22|             4|   200|
| Fred|            43|             3|   600|
|Karry|            11|             1|   100|
|  Min|            23|             2|   300|
|  Lee|Missing Values|Missing Values|   400|
| NULL|            34|            10|   500|
| NULL|            36|Missing Values|  NULL|
+-----+--------------+--------------+------+

In [25]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
|Frank|  23|         1|   900|
| Kyle|   1|         3|   400|
| Jeff|  22|         4|   200|
| Fred|  43|         3|   600|
|Karry|  11|         1|   100|
|  Min|  23|         2|   300|
|  Lee|NULL|      NULL|   400|
| NULL|  34|        10|   500|
| NULL|  36|      NULL|  NULL|
+-----+----+----------+------+

In [29]:
from pyspark.ml.feature import Imputer

imputer =Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy("mean")

In [30]:
##add impuation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

IllegalArgumentException: requirement failed: Column Age must be of type numeric but was actually of type string.