In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [11]:
##Read the data set
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [12]:
### cherck the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [13]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Frank| 23|         1|
| Kyle|  1|         3|
| Jeff| 22|         4|
| Fred| 43|         3|
|Karry| 11|         1|
|  Min| 23|         2|
|  Lee| 56|         3|
+-----+---+----------+

In [14]:
### cherck the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [15]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [18]:
df_pyspark.head(3)

[Row(Name='Frank', Age=23, Experience=1),
 Row(Name='Kyle', Age=1, Experience=3),
 Row(Name='Jeff', Age=22, Experience=4)]

In [19]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Frank| 23|         1|
| Kyle|  1|         3|
| Jeff| 22|         4|
| Fred| 43|         3|
|Karry| 11|         1|
|  Min| 23|         2|
|  Lee| 56|         3|
+-----+---+----------+

In [23]:
df_pyspark.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|Frank|         1|
| Kyle|         3|
| Jeff|         4|
| Fred|         3|
|Karry|         1|
|  Min|         2|
|  Lee|         3|
+-----+----------+

In [26]:
df_pyspark['Name']

Column<'Name'>

In [27]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [29]:
df_pyspark.describe().show()

+-------+-----+------------------+------------------+
|summary| Name|               Age|        Experience|
+-------+-----+------------------+------------------+
|  count|    7|                 7|                 7|
|   mean| NULL|25.571428571428573|2.4285714285714284|
| stddev| NULL|18.581865199320394|1.1338934190276817|
|    min|Frank|                 1|                 1|
|    max|  Min|                56|                 4|
+-------+-----+------------------+------------------+

In [33]:
###ADding Columns in data frame (pyspark)
df_pyspark=df_pyspark.withColumn('Experience After 2 years',df_pyspark['Experience']+2)

In [34]:
df_pyspark.show()

+-----+---+----------+------------------------+
| Name|Age|Experience|Experience After 2 years|
+-----+---+----------+------------------------+
|Frank| 23|         1|                       3|
| Kyle|  1|         3|                       5|
| Jeff| 22|         4|                       6|
| Fred| 43|         3|                       5|
|Karry| 11|         1|                       3|
|  Min| 23|         2|                       4|
|  Lee| 56|         3|                       5|
+-----+---+----------+------------------------+

In [37]:
### drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 years')

In [38]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Frank| 23|         1|
| Kyle|  1|         3|
| Jeff| 22|         4|
| Fred| 43|         3|
|Karry| 11|         1|
|  Min| 23|         2|
|  Lee| 56|         3|
+-----+---+----------+

In [39]:
### rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|   Frank| 23|         1|
|    Kyle|  1|         3|
|    Jeff| 22|         4|
|    Fred| 43|         3|
|   Karry| 11|         1|
|     Min| 23|         2|
|     Lee| 56|         3|
+--------+---+----------+