In [5]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\draco\anaconda3\lib\site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\draco\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

In [6]:
import pyspark

In [7]:
import pandas as pd
pd.read_csv('test1.csv')

    Name  Age
0  Frank   23
1   Kyle    1
2   Jeff   22
3   Fred   43
4  Karry   11
5    Min   23
6    Lee   56

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark =SparkSession.builder.appName('Practise').getOrCreate()

In [10]:
spark

In [11]:
df_pyspark=spark.read.csv('test1.csv')

In [12]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [13]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
|Frank| 23|
| Kyle|  1|
| Jeff| 22|
| Fred| 43|
|Karry| 11|
|  Min| 23|
|  Lee| 56|
+-----+---+

In [15]:
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [18]:
df_pyspark.head(3)

[Row(Name='Frank', Age='23'),
 Row(Name='Kyle', Age='1'),
 Row(Name='Jeff', Age='22')]

In [19]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)